# Week 4 - SQL Corner

* Tables: https://www.sqlitetutorial.net/sqlite-create-table/

In [1]:
import sqlite3

connection = sqlite3.connect('looneylms.db') # sqlite will create looneylms.db if it doesn't exist, 
                                             # a file now in the same folder as this file

cursor = connection.cursor()
cursor.execute("PRAGMA foreign_keys=ON");
print(connection.total_changes)

0

In [2]:
# multiline strings in Python can be sorrounded with ''' Multi line text '''
query = '''
CREATE TABLE IF NOT EXISTS people (
    id INTEGER PRIMARY KEY, 
    firstname TEXT, 
    lastname TEXT, 
    year INTEGER
)
'''
cursor.execute(query)

In [3]:
cursor.execute("INSERT INTO people(firstname, lastname, year) VALUES ('Bugs', 'Bunny', 1)")
cursor.execute("INSERT INTO people(firstname, lastname, year) VALUES ('Fifi', 'La Fume', 3)")
cursor.execute("INSERT INTO people(firstname, lastname, year) VALUES ('Daffy', 'Duck', 2)")
cursor.execute("INSERT INTO people(firstname, lastname, year) VALUES ('Foghorn', 'Leghorn', 1)")
cursor.execute("INSERT INTO people(firstname, lastname, year) VALUES ('Tweety', 'Bird', 4)")
cursor.execute("INSERT INTO people(firstname, lastname, year) VALUES ('Porky', 'Pig', 4)")

In [4]:
rows = cursor.execute("SELECT * FROM people").fetchall()
print(rows)

[(1, 'Bugs', 'Bunny', 1), (2, 'Fifi', 'La Fume', 3), (3, 'Daffy', 'Duck', 2), (4, 'Foghorn', 'Leghorn', 1), (5, 'Tweety', 'Bird', 4), (6, 'Porky', 'Pig', 4)]

In [5]:
query = '''
CREATE TABLE IF NOT EXISTS quizzes (
    id INTEGER PRIMARY KEY, 
    quizname TEXT, 
    description TEXT
)
'''
cursor.execute(query)

In [6]:
cursor.execute("INSERT INTO quizzes(quizname, description) VALUES ('Looney', 'quiz about laughing')")
cursor.execute("INSERT INTO quizzes(quizname, description) VALUES ('Tune', 'quiz about tunes')")

In [7]:
rows = cursor.execute("SELECT * FROM quizzes").fetchall()
print(rows)

[(1, 'Looney', 'quiz about laughing'), (2, 'Tune', 'quiz about tunes')]

In [8]:
query = '''
CREATE TABLE IF NOT EXISTS quiz_details (
    id INTEGER PRIMARY KEY, 
    quizzes_id INTEGER, 
    items INTEGER,
    FOREIGN KEY (quizzes_id) 
      REFERENCES quizzes (id) 
         ON DELETE NO ACTION 
         ON UPDATE CASCADE
)
'''
cursor.execute(query)

In [9]:
cursor.execute("INSERT INTO quiz_details(quizzes_id, items) VALUES (1, 10)")
cursor.execute("INSERT INTO quiz_details(quizzes_id, items) VALUES (2, 10)")

In [10]:
rows = cursor.execute("SELECT * FROM quiz_details").fetchall()
print(rows)

[(1, 1, 10), (2, 2, 10)]

In [11]:
query = '''
CREATE TABLE IF NOT EXISTS quiz_results (
    id INTEGER PRIMARY KEY, 
    quizzes_id INTEGER, 
    people_id INTEGER,
    score INTEGER,
    FOREIGN KEY (people_id) 
      REFERENCES people (id) 
         ON DELETE NO ACTION 
         ON UPDATE CASCADE,
    FOREIGN KEY (quizzes_id) 
      REFERENCES quizzes (id) 
         ON DELETE NO ACTION 
         ON UPDATE CASCADE
)
'''
cursor.execute(query)

In [12]:
cursor.execute("INSERT INTO quiz_results(quizzes_id, people_id, score) VALUES (1, 3, 7)")
cursor.execute("INSERT INTO quiz_results(quizzes_id, people_id, score) VALUES (2, 5, 8)")
cursor.execute("INSERT INTO quiz_results(quizzes_id, people_id, score) VALUES (2, 1, 9)")
cursor.execute("INSERT INTO quiz_results(quizzes_id, people_id, score) VALUES (1, 4, 8)")
cursor.execute("INSERT INTO quiz_results(quizzes_id, people_id, score) VALUES (2, 3, 7)")
cursor.execute("INSERT INTO quiz_results(quizzes_id, people_id, score) VALUES (1, 2, 8)")

In [13]:
rows = cursor.execute("SELECT * FROM quiz_results").fetchall()
print(rows)

[(1, 1, 3, 7), (2, 2, 5, 8), (3, 2, 1, 9), (4, 1, 4, 8), (5, 2, 3, 7), (6, 1, 2, 8)]

In [14]:
query = '''
UPDATE people
SET id = 7
WHERE firstname = 'Daffy';
'''
cursor.execute(query)
rows = cursor.execute("SELECT * FROM people").fetchall()
print(rows)

[(1, 'Bugs', 'Bunny', 1), (2, 'Fifi', 'La Fume', 3), (4, 'Foghorn', 'Leghorn', 1), (5, 'Tweety', 'Bird', 4), (6, 'Porky', 'Pig', 4), (7, 'Daffy', 'Duck', 2)]

In [15]:
cursor.execute(query)
rows = cursor.execute("SELECT * FROM quiz_results").fetchall()
print(rows)

[(1, 1, 7, 7), (2, 2, 5, 8), (3, 2, 1, 9), (4, 1, 4, 8), (5, 2, 7, 7), (6, 1, 2, 8)]

In [16]:
from contextlib import closing

with closing(sqlite3.connect("looneylms.db")) as connection:
    with closing(connection.cursor()) as cursor:
        rows = cursor.execute("SELECT 1").fetchall()
        print(rows)

[(1,)]

Start completely over

* Kernel Restart and clear output
* Delete looneylms.db 
* Kernel Restart and run all